<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This build executes all unit and integration tests with cobertura enabled for Trash packages, using MySQL and JDK 1.6.</description>
  <displayName>Trash Coverage</displayName>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>15</daysToKeep>
    <numToKeep>-1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.7">
      <projectUrl>https://github.com/liferay/liferay-portal/</projectUrl>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.TextParameterDefinition>
          <name>buildProperties</name>
          <description></description>
          <defaultValue>#jsp.precompile=on
source.formatter.excludes=**/portal-ext.properties

junit.cobertura.includes=com/liferay/.*/.*[s|S]earch.*,com/liferay/.*/.*[l|L]ucene.*
junit.cobertura.excludes=com/liferay/.*/search/service/.*,com/liferay/.*/search/service/base/.*,com/liferay/.*/search/service/impl/.*,com/liferay/.*/search/service/persistence/.*,com/liferay/.*/search/model/.*,com/liferay/.*/search/model/impl/.*BaseImpl.class,com/liferay/.*/search/model/impl/.*Model.class,com/liferay/.*/search/model/impl/.*ModelImpl.class

junit.code.coverage=true
junit.cobertura.report.format=xml
junit.java.mx=2048m
junit.java.maxpermsize=512m</defaultValue>
        </hudson.model.TextParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>portalProperties</name>
          <description></description>
          <defaultValue>jdbc.default.driverClassName=com.mysql.jdbc.Driver
jdbc.default.url=jdbc:mysql://localhost/lportal_search_with_cobertura?useUnicode=true&amp;characterEncoding=UTF-8&amp;useFastDateParsing=false
jdbc.default.username=liferay
jdbc.default.password=liferay

liferay.home=/jenkins-data/jobs/liferay-portal-search-test-and-cobertura-mysql-jdk6/bundles/

ehcache.portal.cache.manager.jmx.enabled=false
#index.with.thread=false
#index.on.startup=true
value.object.listener.com.liferay.portal.model.LayoutSet=
dl.file.entry.processors.trigger.synchronously=true
journal.transformer.regex.pattern.0=beta.sample.com
journal.transformer.regex.replacement.0=production.sample.com

lucene.store.type=ram
lucene.merge.policy=org.apache.lucene.index.NoMergePolicy
lucene.merge.scheduler=org.apache.lucene.index.NoMergeScheduler

cluster.link.autodetect.address=192.168.11.5:80</defaultValue>
        </hudson.model.TextParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@1.7.2">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@1.4.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name></name>
        <refspec></refspec>
        <url>git://github.com/liferay/liferay-portal.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <disableSubmodules>false</disableSubmodules>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>true</authorOrCommitter>
    <clean>false</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <remotePoll>false</remotePoll>
    <ignoreNotifyCommit>false</ignoreNotifyCommit>
    <useShallowClone>false</useShallowClone>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <relativeTargetDir></relativeTargetDir>
    <reference></reference>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>false</skipTag>
    <includedRegions></includedRegions>
    <scmName></scmName>
  </scm>
  <assignedNode>slave-3</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

git clean -f -d

/home/liferay/liferay-ci/scripts/database/mysql/dropDatabase.sh localhost liferay liferay lportal_search_with_cobertura</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

echo &quot;Creating build.liferay.properties file...&quot;

BUILD_PROPERTIES_FILE=${WORKSPACE}/build.liferay.properties

rm ${BUILD_PROPERTIES_FILE}
touch ${BUILD_PROPERTIES_FILE}

for property in ${buildProperties}
do
        echo $property &gt;&gt; ${BUILD_PROPERTIES_FILE}
done</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

echo &quot;Creating portal-test-ext.properties file...&quot;

PORTAL_TEST_PROPERTIES_FILE=${WORKSPACE}/portal-impl/test/portal-test-ext.properties

rm ${PORTAL_TEST_PROPERTIES_FILE}
touch ${PORTAL_TEST_PROPERTIES_FILE}

for property in ${portalProperties}
do
        echo $property &gt;&gt; ${PORTAL_TEST_PROPERTIES_FILE}
done</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Ant plugin="ant@1.2">
      <targets>clean compile test-integration test-unit</targets>
      <antName>(Default)</antName>
      <antOpts>-Xms1024m -Xmx1024m -XX:MaxPermSize=1024m -Djunit.code.coverage=true</antOpts>
    </hudson.tasks.Ant>
  </builders>
  <publishers>
    <hudson.plugins.cobertura.CoberturaPublisher plugin="cobertura@1.9.3">
      <coberturaReportFile>**/test-coverage/**/coverage.xml</coberturaReportFile>
      <onlyStable>false</onlyStable>
      <failUnhealthy>false</failUnhealthy>
      <failUnstable>false</failUnstable>
      <autoUpdateHealth>false</autoUpdateHealth>
      <autoUpdateStability>false</autoUpdateStability>
      <zoomCoverageChart>false</zoomCoverageChart>
      <maxNumberOfBuilds>0</maxNumberOfBuilds>
      <failNoReports>true</failNoReports>
      <healthyTarget>
        <targets class="enum-map" enum-type="hudson.plugins.cobertura.targets.CoverageMetric">
          <entry>
            <hudson.plugins.cobertura.targets.CoverageMetric>METHOD</hudson.plugins.cobertura.targets.CoverageMetric>
            <int>6000000</int>
          </entry>
          <entry>
            <hudson.plugins.cobertura.targets.CoverageMetric>LINE</hudson.plugins.cobertura.targets.CoverageMetric>
            <int>2000000</int>
          </entry>
          <entry>
            <hudson.plugins.cobertura.targets.CoverageMetric>CONDITIONAL</hudson.plugins.cobertura.targets.CoverageMetric>
            <int>2000000</int>
          </entry>
        </targets>
      </healthyTarget>
      <unhealthyTarget>
        <targets class="enum-map" enum-type="hudson.plugins.cobertura.targets.CoverageMetric">
          <entry>
            <hudson.plugins.cobertura.targets.CoverageMetric>METHOD</hudson.plugins.cobertura.targets.CoverageMetric>
            <int>4000000</int>
          </entry>
          <entry>
            <hudson.plugins.cobertura.targets.CoverageMetric>LINE</hudson.plugins.cobertura.targets.CoverageMetric>
            <int>1000000</int>
          </entry>
          <entry>
            <hudson.plugins.cobertura.targets.CoverageMetric>CONDITIONAL</hudson.plugins.cobertura.targets.CoverageMetric>
            <int>1000000</int>
          </entry>
        </targets>
      </unhealthyTarget>
      <failingTarget>
        <targets class="enum-map" enum-type="hudson.plugins.cobertura.targets.CoverageMetric">
          <entry>
            <hudson.plugins.cobertura.targets.CoverageMetric>METHOD</hudson.plugins.cobertura.targets.CoverageMetric>
            <int>0</int>
          </entry>
          <entry>
            <hudson.plugins.cobertura.targets.CoverageMetric>LINE</hudson.plugins.cobertura.targets.CoverageMetric>
            <int>0</int>
          </entry>
          <entry>
            <hudson.plugins.cobertura.targets.CoverageMetric>CONDITIONAL</hudson.plugins.cobertura.targets.CoverageMetric>
            <int>0</int>
          </entry>
        </targets>
      </failingTarget>
      <sourceEncoding>ASCII</sourceEncoding>
    </hudson.plugins.cobertura.CoberturaPublisher>
  </publishers>
  <buildWrappers/>
</project>